<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Member Details</title></head>
<body>

<h1>Member Details</h1>

<p><strong>ID:</strong> <span th:text="${member.id}"></span></p>
<p><strong>Name:</strong> <span th:text="${member.name}"></span></p>
<p><strong>Email:</strong> <span th:text="${member.email}"></span></p>
<p><strong>Library Id:</strong> <span th:text="${member.libraryId}"></span></p>

<br/>

<a th:href="@{'/members/' + ${member.id} + '/edit'}">Edit</a>
<br/><br/>
<a href="/members">Back</a>

</body>
</html>