<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Member Form</title></head>
<body>

<h1 th:text="${member.id} == '' ? 'Add Member' : 'Edit Member'"></h1>

<!-- add -->
<form th:if="${member.id} == ''"
      th:action="@{/members}"
      th:object="${member}"
      method="post">

    <label>Id:</label><br/>
    <input type="text" th:field="*{id}" /> <br/><br/>

    <label>Name:</label><br/>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <label>Email:</label><br/>
    <input type="text" th:field="*{email}" required/><br/><br/>

    <label>Library Id:</label><br/>
    <input type="text" th:field="*{libraryId}" required/><br/><br/>

    <button type="submit">Save</button>
</form>


<!-- edit -->
<form th:unless="${member.id} == ''"
      th:action="@{'/members/' + ${member.id} + '/edit'}"
      th:object="${member}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Name:</label><br/>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <label>Email:</label><br/>
    <input type="text" th:field="*{email}" required/><br/><br/>

    <label>Library Id:</label><br/>
    <input type="text" th:field="*{libraryId}" required/><br/><br/>

    <button type="submit">Save</button>
</form>

<br/>
<a href="/members">Back</a>

</body>
</html>