<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Members</title></head>
<body>

<h1>Members</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Library Id</th>
        <th>Action</th>
    </tr>

    <tr th:each="m : ${members}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.email}"></td>
        <td th:text="${m.libraryId}"></td>

        <td>
            <a th:href="@{'/members/' + ${m.id}}">Details</a>
            &nbsp;&nbsp;
            <a th:href="@{'/members/' + ${m.id} + '/edit'}">Edit</a>
            &nbsp;&nbsp;

            <form th:action="@{'/members/' + ${m.id} + '/delete'}"
                  method="post"
                  style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<br/>
<a href="/members/new">Add New Member</a>

</body>
</html>