<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Author</title></head>
<body>
<h1>Add Author</h1>

<form action="#" th:action="@{/authors}" th:object="${author}" method="post">
    <label>Id: <input type="text" th:field="*{id}" /></label><br/>
    <br/>
    <label>Name: <input type="text" th:field="*{name}" /></label><br/>
    <br/>
    <label>Birth Date: <input type="date" th:field="*{dateOfBirth}" /></label><br/>
    <br/>
    <button type="submit">Save</button>
    <br/>
</form>

<br/>
<a href="/authors">Back</a>
</body>
</html>