<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Readable Item Form</title></head>
<body>

<h1 th:text="${readableitem.id} == '' ? 'Add Readable Item' : 'Edit Readable Item'"></h1>

<!-- add -->
<form th:if="${readableitem.id} == ''"
      th:action="@{/readableitems}"
      th:object="${readableitem}"
      method="post">

    <label>Id:</label><br/>
    <input type="text" th:field="*{id}" /> <br/><br/>

    <label>Publication Id:</label><br/>
    <input type="text" th:field="*{publicationId}" required/><br/><br/>

    <label>Barcode:</label><br/>
    <input type="text" th:field="*{barcode}" required/><br/><br/>

    <label>Status:</label><br/>
    <select th:field="*{status}">
        <option th:each="s : ${T(com.example.library.model.ReadableItemStatus).values()}"
                th:value="${s}"
                th:text="${s}">
        </option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
</form>

<!-- edit -->
<form th:unless="${readableitem.id} == ''"
      th:action="@{'/readableitems/' + ${readableitem.id} + '/edit'}"
      th:object="${readableitem}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Publication Id:</label><br/>
    <input type="text" th:field="*{publicationId}" required/><br/><br/>

    <label>Barcode:</label><br/>
    <input type="text" th:field="*{barcode}" required/><br/><br/>

    <label>Status:</label><br/>
    <select th:field="*{status}">
        <option th:each="s : ${T(com.example.library.model.ReadableItemStatus).values()}"
                th:value="${s}"
                th:text="${s}">
        </option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
</form>

<br/>
<a href="/readableitems">Back</a>

</body>
</html>