<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Readable Items</title></head>
<body>
<h1>Readable Items</h1>

<table border="1">
    <tr>
        <th>ID</th><th>Publication Id</th><th>Barcode</th><th>Status</th><th>Action</th>
    </tr>
    <tr th:each="a : ${readableitems}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.publicationId}"></td>
        <td th:text="${a.barcode}"></td>
        <td th:text="${a.status}"></td>
        <td>
            <form th:action="@{'/readableitems/' + ${a.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>

<br>
<a href="/readableitems/new">Add New Readable Item</a>
</html>