<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Book Details Form</title></head>
<body>

<h1 th:text="${bookdetail.id} == '' ? 'Add Book Details' : 'Edit Book Details'"></h1>

<!-- add -->
<form th:if="${bookdetail.id} == ''"
      th:action="@{/bookdetails}"
      th:object="${bookdetail}"
      method="post">

    <label>Id:</label><br/>
    <input type="text" th:field="*{id}" /> <br/><br/>

    <label>Title:</label><br/>
    <input type="text" th:field="*{title}" required /><br/><br/>

    <button type="submit">Save</button>
</form>


<!-- edit -->
<form th:unless="${bookdetail.id} == ''"
      th:action="@{'/bookdetails/' + ${bookdetail.id} + '/edit'}"
      th:object="${bookdetail}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Title:</label><br/>
    <input type="text" th:field="*{title}" required /><br/><br/>

    <button type="submit">Save</button>
</form>


<br/>
<a href="/bookdetails">Back</a>

</body>
</html>