<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Magazine Details</title></head>
<body>

<h1>Magazine Details</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Actions</th>
    </tr>

    <tr th:each="m : ${magazinedetails}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.title}"></td>
        <td th:text="${m.publisher}"></td>

        <td>
            <a th:href="@{'/magazinedetails/' + ${m.id}}">Details</a>
            &nbsp;&nbsp;
            <a th:href="@{'/magazinedetails/' + ${m.id} + '/edit'}">Edit</a>
            &nbsp;&nbsp;

            <form th:action="@{'/magazinedetails/' + ${m.id} + '/delete'}"
                  method="post"
                  style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<br/>
<a href="/magazinedetails/new">Add New Magazine Details</a>

</body>
</html>