<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Reservation</title></head>
<body>
<h1>Add Reservation</h1>

<form action="#" th:action="@{/reservations}" th:object="${reservation}" method="post">
    <label>Id: <input type="text" th:field="*{id}" /></label><br/>
    <br/>
    <label>Member Id: <input type="text" th:field="*{memberId}" /></label><br/>
    <br/>
    <label>Readable Item Id: <input type="text" th:field="*{readableItemId}" /></label><br/>
    <br/>
    <label>Date: <input type="date" th:field="*{date}" /></label><br/>
    <br/>
    <label>Status:
        <select th:field="*{status}">
            <option th:each="s : ${T(com.example.library.model.ReservationStatus).values()}"
                    th:value="${s}"
                    th:text="${s}">
            </option>
        </select>
    </label><br/>
    <button type="submit">Save</button>
    <br/>
</form>

<br/>
<a href="/reservations">Back</a>
</body>
</html>