<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Reservation Form</title></head>
<body>

<h1 th:text="${reservation.id} == '' ? 'Add Reservation' : 'Edit Reservation'"></h1>

<!-- add -->
<form th:if="${reservation.id} == ''"
      th:action="@{/reservations}"
      th:object="${reservation}"
      method="post">

    <label>Id:</label><br/>
    <input type="text" th:field="*{id}" /> <br/><br/>

    <label>Member Id:</label><br/>
    <input type="text" th:field="*{memberId}" required/><br/><br/>

    <label>Readable Item Id:</label><br/>
    <input type="text" th:field="*{readableItemId}" required/><br/><br/>

    <label>Date:</label><br/>
    <input type="date" th:field="*{date}" required/><br/><br/>

    <label>Status:</label><br/>
    <select th:field="*{status}">
        <option th:each="s : ${T(com.example.library.model.ReservationStatus).values()}"
                th:value="${s}"
                th:text="${s}">
        </option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
</form>

<!-- edit -->
<form th:unless="${reservation.id} == ''"
      th:action="@{'/reservations/' + ${reservation.id} + '/edit'}"
      th:object="${reservation}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Member Id:</label><br/>
    <input type="text" th:field="*{memberId}" required/><br/><br/>

    <label>Readable Item Id:</label><br/>
    <input type="text" th:field="*{readableItemId}" required/><br/><br/>

    <label>Date:</label><br/>
    <input type="date" th:field="*{date}" required/><br/><br/>

    <label>Status:</label><br/>
    <select th:field="*{status}">
        <option th:each="s : ${T(com.example.library.model.ReservationStatus).values()}"
                th:value="${s}"
                th:text="${s}">
        </option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
</form>

<br/>
<a href="/reservations">Back</a>

</body>
</html>